
/* CSS RESET */
* {margin: 0; padding: 0; color: inherit; font-family: inherit; font-size: 1em; font-style: inherit; font-weight: inherit;  text-decoration: inherit; border: 0 solid transparent; outline: 0; box-sizing: border-box; background-color: transparent; background-repeat: no-repeat; }
html{font-family: 'Nanum Gothic', sans-serif;}
b, strong {font-weight: bold;}
::before,::after {border: 0 solid transparent;}
ul,ol {list-style: none;}
table {table-layout: fixed; border-collapse: collapse;}
[type=button],[type=submit],[type=reset],button,a,label {cursor: pointer;}

/* COMMON */
.clearfix:after {content: ""; display: block; clear: both;}
.ellipsis {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.hidden {display: none;}
.bold {font-weight: bold;}

/************************ header 공통************************/
header{position: relative; padding-top: 13px; border-bottom: 1px solid #ddd;}
header {height: 70px; background-color: #F2F2F2;}
header h1{width: 80px; height: 37px; margin: 0 auto; margin-bottom: 20px;}
header h1 a{display: block; width: 100%; height: 100%; background-image: url(../img/logo_paldo.jpg); background-size: 100%; text-indent: -9999px;}
#btn:checked~.btn_gnb label i{transition: top 0.3s, transform 0.3s 0.3s, width 0s 0.3s;}
#btn:checked~.gnb_cnt{height: 100%; background-color: rgb(255,210,0);}
#btn:not(:checked)+label i{transition:top 0.3s 0.3s, transform 0.3s 0s, width 0s 0.3s;}
#btn:checked~.btn_gnb label i:nth-child(1){top: 50%; transform: rotate(45deg);}
#btn:checked~.btn_gnb label i:nth-child(2){top: 50%; width: 0;}
#btn:checked~.btn_gnb label i:nth-child(3){top: 50%; transform: rotate(-45deg);}
#btn:checked~.gnb_cnt{border-bottom: 1px solid #ddd; padding: 10px 0;}
.btn_gnb{position: absolute; top: 15px; right: 15px;}
.btn_gnb label{position: relative; display: block; width: 40px; height: 40px; cursor: pointer;}
.btn_gnb label i{position: absolute;  left: 50%; margin: -1px 0 0 -15px; height: 2px; width: 30px; background-color: #333; border-radius: 10px; transform: rotate(0deg);}
.btn_gnb label i:nth-child(1){top: 25%;}
.btn_gnb label i:nth-child(2){top: 50%;}
.btn_gnb label i:nth-child(3){top: 75%;}
.gnb_cnt{height: 0; overflow: hidden; z-index: 2; transition: height 0.5s, background-color 0.7s; background-color: transparent; position: fixed; top: 0; bottom: 0; left: 0; right: 0; margin-top: 69px;}
.gnb_cnt ul.gnb_list{text-align: center; padding: 0 10px;}
.gnb_cnt ul.gnb_list li{margin-bottom: 10px;}
.gnb_cnt ul.gnb_list li .tit{position: relative; display: block; height: 40px; line-height: 40px; font-size: 1.5em; font-weight: 700; letter-spacing: 2px; border-bottom: 1px solid black;}
.gnb_cnt ul.gnb_list li .tit:after{content:''; position: absolute; top: 50%; right: 10px; margin-top: -5px; background: url(../img/arrow.png) 0 0 no-repeat; width: 14px; height: 14px; background-size: 100%; }
.gnb_cnt ul.gnb_list li:nth-of-type(1) .tit{margin-top: 30px;}
.gnb_cnt ul.gnb_list li ul{overflow: hidden; display: none; margin-top: 10px;}
.gnb_cnt ul.gnb_list li ul li{float: left; width: 49%; height: 34px; line-height: 34px; border: 1px solid #ddd; background-color: #fff; font-weight: 700; font-size: 0.85em; color:#555;}
.gnb_cnt ul.gnb_list li ul li a{display: block; }
.gnb_cnt ul.gnb_list li ul li:nth-of-type(2n){margin-left: 2%;}
.gnb_cnt ul.gnb_list li ul li:nth-of-type(1),
.gnb_cnt ul.gnb_list li ul li:nth-of-type(2){margin-bottom: 2%;}

/************************ footer 공통************************/
footer{height: auto; overflow: hidden; background-color: #ddd;}
footer .sns_btn{padding: 4% 4% 0 4%; text-align: center;}
footer .sns_btn li{overflow: hidden; display: inline-block;}
footer .sns_btn li a{float: left; height: 100%; border-radius: 20px;}
footer .sns_btn li a+a{margin-left: 5px;}
footer .sns_btn li a img{display: block; width: 30px; height: 30px; background-size: 100%;}
footer ul:nth-of-type(2){overflow: hidden; text-align: center; padding: 4%;}
footer ul:nth-of-type(2) li{float: left; width: 49.5%; height: 26px; line-height: 26px; border:1px solid #ddd; background-color: #fff;}
footer ul:nth-of-type(2) li:nth-of-type(1),
footer ul:nth-of-type(2) li:nth-of-type(2){margin-bottom: 1%;}
footer ul:nth-of-type(2) li:nth-of-type(2n){margin-left: 1%;}
footer ul:nth-of-type(2) li a{display: block; font-size: 0.7em; font-weight: 700; color:#474747;}
footer .ft_txt{font-size: 0.8em; font-weight: 700; line-height: 1.5em; text-align: center; color:#333;}
footer p{font-size: 0.8em; font-weight: 700; text-align: center; margin: 10px 0 20px 0; color:#333;}

/************************ media_query ************************/
@media screen and (max-width:425px){
	.gnb_cnt dl{height: 25px;}
@media screen and (max-width:375px){
	.gnb_cnt ul.gnb_list li .tit{height: 34px; line-height: 34px; font-size: 1.4em;}
}
@media screen and (max-width:320px){
	.gnb_cnt ul.gnb_list li .tit{height: 30px; line-height: 30px; font-size: 1.3em;}
}

/* GLOBAL */
section {position: relative; padding: 0 10px;}
#wrap{max-width:576px; overflow: hidden;}