/* CSS RESET */
* {margin: 0; padding: 0; color: inherit; font-family: inherit; font-size: 1em; font-style: inherit; font-weight: inherit; text-decoration: inherit; border: 0 solid transparent; outline: 0; box-sizing: border-box; background-color: transparent; background-repeat: no-repeat;}
b, strong {font-weight: bold;}
::before,::after {border: 0 solid transparent;}
ul,ol {list-style: none;}
table {table-layout: fixed; border-collapse: collapse;}
[type=button],[type=submit],[type=reset],button,a,label {cursor: pointer;}
:only-child {display: block; width: 100%;}

/* COMMON */
.clearfix:after {content: ""; display: block; clear: both;}
.ellipsis {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.hidden {display: none;}
.bold {font-weight: bold;}

/* GLOBAL */
body {display: inline-block; min-width: 100%; font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;}
.inner {position: relative;}
.inner:after {content: ""; display: block; clear: both;}

a>u:only-child {display: inline;}
a:hover>u {text-decoration: underline;}

.bg_01 {background-image: url(../img/bg_01.png); text-indent: -9999px;}
.bg_02 {background-image: url(../img/bg_02.png); text-indent: -9999px;}
.bg_03 {background-image: url(../img/bg_03.png); text-indent: -9999px;}
.bg_03-1 {background-image: url(../img/bg_03-1.png); text-indent: -9999px;}
.bg_04 {background-image: url(../img/bg_04.png); text-indent: -9999px;}
.bg_05 {background-image: url(../img/bg_05.png); text-indent: -9999px;}
.bg_06 {background-image: url(../img/bg_06.png); text-indent: -9999px;}
.bg_07 {background-image: url(../img/bg_07.png); text-indent: -9999px;}
.bg_08 {background-image: url(../img/bg_08.png); text-indent: -9999px;}
.bg_09 {background-image: url(../img/bg_09.png); text-indent: -9999px;}
.bg_10 {background-image: url(../img/bg_10.png); text-indent: -9999px;}
