* {
   font-family: 'Sunflower', sans-serif;
}

/***************************** header *****************************/
#header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   overflow: hidden;
   padding: 10px 20px;
   background-color: rgba(255, 255, 255, 0.5);
}

#header #clock {
   float: left;
   height: 40px;
}

#header #clock img {
   width: 14px;
   margin-right: 5px;
   vertical-align: middle;
}

#header #clock span {
   vertical-align: middle;
   line-height: 40px;
   font-size: 0.875rem;
   font-family: 'Noto Sans KR', sans-serif;
}

#header .nav {
   float: right;
}

#header .nav ul {
   overflow: hidden;
}

#header .nav ul li {
   float: left;
   margin-left: 20px;
}

#header .nav ul li span {
   display: block;
   height: 40px;
   line-height: 40px;
   color: #000;
   font-size: 1.125rem;
}

#header .nav ul li span:hover {
   color: #0B7903;
}

#header .nav ul .menuBg2 span {
   color: rgb(11, 121, 3);
}

.type-wrap {
   margin-top: 60px;
   padding: 80px 0;
   text-align: center;
   background-color: #194052;
   /*background-color: rgba(25,64,82,.8);*/
}

#typed {
   font-size: 2rem;
   font-family: 'Noto Sans KR', sans-serif;
   white-space: pre;
   color: #fff;
}

.typed-cursor {
   margin-left: 5px;
   vertical-align: 1px;
   opacity: 1;
   font-weight: 100;
   font-size: 1.5rem;
   -webkit-animation: blink 0.7s infinite;
   -moz-animation: blink 0.7s infinite;
   -ms-animation: blink 0.7s infinite;
   -o-animation: blink 0.7s infinite;
   animation: blink 0.7s infinite;
}

@keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@-webkit-keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@-moz-keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@-ms-keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@-o-keyframes blink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

/***************************** #container *****************************/

/************************ section_공통 ************************/
section {
   position: relative;
   width: 100%;
   height: 100%;
}

section:nth-of-type(even) {
   background-color: #eaeaea;
}

section:nth-of-type(odd) {
   background-color: #fff;
}

#container section {
   position: relative;
   padding: 60px 0;
}

#container section .cnt {
   position: relative;
   margin: 150px auto;
   height: 100%;
}

#container section .tit_wrap {
   position: relative;
   height: 62px;
   text-align: center;
}

#container section .tit_wrap:before {
   content: '';
   position: absolute;
   top: 50%;
   left: 30px;
   right: 30px;
   height: 1px;
   background-color: #434462;
}

#container section .tit_wrap .tit_inner:before {
   content: "";
   position: absolute;
   top: 24px;
   left: 30px;
   width: 15px;
   height: 15px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   background-color: #434462;
}

#container section .tit_wrap .tit_inner:after {
   content: "";
   position: absolute;
   top: 24px;
   right: 30px;
   width: 15px;
   height: 15px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   background-color: #434462;
}

#container section .tit_wrap .tit_inner .tit_area {
   position: absolute;
   top: 4px;
   left: 50%;
   padding: 0 30px;
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   transform: translateX(-50%);
}

#container section:nth-of-type(odd) .tit_wrap .tit_inner .tit_area {
   background-color: #fff;
}

#container section:nth-of-type(even) .tit_wrap .tit_inner .tit_area {
   background-color: #eaeaea;
}

#container section .tit_wrap .tit_inner .tit_area h2 {
   margin: auto;
   text-align: center;
   text-transform: uppercase;
   font-size: 2.8em;
   font-weight: 700;
   color: #333;
   letter-spacing: 2px;
}

#container section .tit_wrap .tit_inner .tit_area p.small_tit {
   font-size: 1.1em;
   text-align: center;
   color: #777;
   margin: 6px auto 0;
   letter-spacing: 3px;
}

#container section .tit_wrap .line span {
   position: absolute;
   bottom: -7px;
   width: 14px;
   height: 14px;
   background-color: #434462;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

#container section .tit_wrap .line {
   position: absolute;
   top: 56%;
   left: 0;
   width: 90%;
   height: 2px;
   margin-left: 5%;
   background-color: #7073b3;
}

/************************#Skills************************/
#Skills .cnt {
   margin-top: 50px;
}

#Skills .cnt .skills {
   position: relative;
   float: left;
   margin-left: 4%;
}

#Skills .cnt .skills img {
   width: 430px;
   -webkit-background-size: cover;
   background-size: cover;
}

#Skills .cnt .skills .skill_txt {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#Skills .cnt .skills .skill_txt i {
   position: absolute;
   font-size: 1.2em;
}

#Skills .cnt .skills .skill_txt i:nth-child(1) {
   left: 30%;
   top: -10%;
   -webkit-transform: translate(-50%);
   -moz-transform: translate(-50%);
   -ms-transform: translate(-50%);
   -o-transform: translate(-50%);
   transform: translate(-50%);
}

#Skills .cnt .skills .skill_txt i:nth-child(2) {
   right: 36%;
   top: 12%;
}

#Skills .cnt .skills .skill_txt i:nth-child(3) {
   right: 32%;
   bottom: 30%;
}

#Skills .cnt .skills .skill_txt i:nth-child(4) {
   right: 52%;
   bottom: -10%;
}

#Skills .cnt .skills .skill_txt i:nth-child(5) {
   left: 12%;
   bottom: -10%;
}

#Skills .cnt .skills .skill_txt i:nth-child(6) {
   left: -8%;
   bottom: 30%;
}

#Skills .cnt .skills .skill_txt i:nth-child(7) {
   left: 0;
   top: 12%;
}

#Skills .cnt .skills .skill_num {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: #fff;
}

#Skills .cnt .skills .skill_num i {
   position: absolute;
   font-size: 1.2em;
}

#Skills .cnt .skills .skill_txt:hover~.skill_num {
   display: block;
}

#Skills .cnt .skills .skill_num:hover {
   display: block;
}

#Skills .cnt .skills .skill_num i:nth-child(1) {
   left: 22%;
   top: 12%;
   -webkit-transform: translate(-50%);
   -moz-transform: translate(-50%);
   -ms-transform: translate(-50%);
   -o-transform: translate(-50%);
   transform: translate(-50%);
}

#Skills .cnt .skills .skill_num i:nth-child(2) {
   right: 61%;
   top: 24%;
}

#Skills .cnt .skills .skill_num i:nth-child(3) {
   right: 67%;
   bottom: 43%;
}

#Skills .cnt .skills .skill_num i:nth-child(4) {
   right: 72%;
   bottom: 30%;
}

#Skills .cnt .skills .skill_num i:nth-child(5) {
   left: 12%;
   bottom: 22%;
}

#Skills .cnt .skills .skill_num i:nth-child(6) {
   left: 2%;
   bottom: 38%;
}

#Skills .cnt .skills .skill_num i:nth-child(7) {
   left: 4%;
   top: 24%;
}

#Skills .cnt .graph_txt {
   float: right;
   padding-top: 140px;
   font-size: 1.4em;
}

#Skills .cnt .graph_txt dl {
   overflow: hidden;
   font-size: 1em;
}

#Skills .cnt .graph_txt dl+dl {
   margin-top: 20px;
}

#Skills .cnt .graph_txt dl dt {
   float: left;
}

#Skills .cnt .graph_txt dl dd {
   float: left;
   margin-left: 20px;
}

/************************#History************************/
#History .cnt {
   margin: 100px 0 120px 0;
}

#History .cnt ul {
   position: relative;
   width: 2px;
   height: 960px;
   margin-left: 50%;
   background-color: #000;
}

#History .cnt ul li {
   position: absolute;
   left: -6px;
   width: 16px;
   height: 16px;
   background-color: #fff;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   border: 1px solid #000;
}

#History .cnt ul li:nth-of-type(1) {
   top: 0;
}

#History .cnt ul li:nth-of-type(2) {
   top: 120px;
}

#History .cnt ul li:nth-of-type(3) {
   top: 240px;
}

#History .cnt ul li:nth-of-type(4) {
   top: 360px;
}

#History .cnt ul li:nth-of-type(5) {
   top: 480px;
}

#History .cnt ul li:nth-of-type(6) {
   top: 600px;
}

#History .cnt ul li:nth-of-type(7) {
   top: 720px;
}

#History .cnt ul li:nth-of-type(8) {
   top: 840px;
}

#History .cnt ul li:nth-of-type(9) {
   top: 960px;
}

#History .cnt ul li .history_txt {
   position: absolute;
   width: 500px;
   line-height: 24px;
   margin-bottom: 30px;
}

#History .cnt ul li .history_txt .year {
   font-size: 0.875rem;
}

#History .cnt ul li .history_txt p:nth-of-type(2) {
   margin-top: 10px;
   line-height: 1.8;
   font-weight: 500;
}

#History .cnt ul li:nth-of-type(odd) .history_txt {
   top: -4px;
   right: 100%;
   padding-right: 20px;
   text-align: right;
}

#History .cnt ul li:nth-of-type(even) .history_txt {
   left: 100%;
   padding-left: 20px;
}

.history {
   position: relative;
   float: right;
   width: calc(100% - 900px);
   margin-right: 100px;
   padding: 70px 40px 0 50px;
   background-color: #fff;
   z-index: 2;
}

.history>div {
   overflow: hidden;
}

.history .career {
   float: left;
   width: 55%;
}

.history .skill {
   float: left;
   width: 40%;
   margin-left: 5%;
}

.history .title {
   margin-bottom: 70px;
}

.history .title img {
   display: inline-block;
   width: 36px;
   vertical-align: middle;
}

.history .title span {
   display: inline-block;
   vertical-align: middle;
   font-size: 2rem;
   letter-spacing: 2px;
}

.history .subTitle {
   margin-bottom: 15px;
   font-size: 1.5rem;
   font-weight: 700;
}

.history .subTitle img {
   width: 25px;
   vertical-align: middle;
}

.history .subTitle span {
   vertical-align: middle;
}

.history dl {
   margin-top: 20px;
   letter-spacing: -10px;
}

.history dt {
   font-size: 0.875rem;
   font-weight: 100;
   color: #999;
}

.history dd {
   font-family: 'Noto Sans KR', sans-serif;
}

.history dt,
dd {
   vertical-align: top;
   line-height: 2;
   letter-spacing: -.5px;
}


/************************#Portfolio************************/
#container section#Portfolio {
   padding: 50px 50px 0;
}

#container section#Portfolio .cnt {
   padding: 80px 0;
   margin: 0 auto;
}

#Portfolio .tabWrap ul {
   margin-top: 70px;
   text-align: center;
}

#Portfolio .tabWrap li {
   display: inline-block;
   margin: 0 40px 20px;
   padding: 10px 30px;
   font-size: 1.25rem;
   font-weight: 500;
   font-family: 'Noto Sans KR', sans-serif;
   border: 1px solid #999;
   cursor: pointer;
}

#Portfolio .tabWrap li:hover,
#Portfolio .tabWrap li.selected {
   color: #fff;
   background-color: #999;
}

#Portfolio .cnt ul {
   text-align: center;
}

#Portfolio .cnt ul li {
   position: relative;
   display: inline-block;
   width: 22%;
   margin: 20px 1%;
   vertical-align: top;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
   -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
   -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
   border: 5px solid transparent;
   transition: all 1s;
}

#Portfolio .cnt ul li .thumb a {
   display: block;
}

#Portfolio .cnt ul li .thumb img {
   max-width: 100%;
}

#Portfolio .cnt ul li .link{
   position: absolute;
   top: 10px;
   right: 10px;
   width: 30px;
   height: auto;
}

#Portfolio .cnt ul li .info {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 15px;
   background-color: rgba(0, 0, 0, .7);
   color: #fff;
}

#Portfolio .cnt ul li .info p {
   text-align: left;
}

#Portfolio .cnt ul li .info .title {
   margin-bottom: 10px;
   font-size: 1.25rem;
   font-weight: 700;
   font-family: 'Noto Sans KR', sans-serif;
}

#Portfolio .cnt ul li .infoM .title {
   padding: 10px;
   background-color: #fff;
   font-weight: 700;
   font-family: 'Noto Sans KR', sans-serif;
}

#Portfolio .cnt ul li .info .txt {
   line-height: 1.6;
   font-size: 0.875rem;
}

#Portfolio .cnt ul li .info .txt span {
   display: block;
   font-family: 'Noto Sans KR', sans-serif;
}

/************************name************************/
#Portfolio .cnt .name {
   float: left;
   width: 40%;
   margin-left: 40px;
}

#Portfolio .cnt .name .part+.part {
   margin-top: 40px;
}

#Portfolio .cnt .name .part .title {
   letter-spacing: 1px;
   font-size: 1.1em;
}

#Portfolio .cnt .name .part:nth-child(1) p:nth-child(2) {
   margin-top: 10px;
   color: #626262;
}

#Portfolio .cnt .name .part .top span {
   line-height: 1.2;
   font-size: 1.6em;
   font-weight: 700;
}

#Portfolio .cnt .name .part .top em {
   display: block;
   margin: 8px 0 20px;
   font-size: 1.1rem;
}

#Portfolio .cnt .name .part .info {
   margin-top: 8px;
   line-height: 24px;
   letter-spacing: 0.5px;
   font-size: 0.9em;
}

#Portfolio .cnt .name .part:nth-child(4) .info a {
   display: block;
   float: left;
   margin-top: 10px;
   padding: 4px 20px;
   text-align: center;
   border: 1px dashed #999;
}

#Portfolio .cnt .name .part:nth-child(4) .info a+a {
   margin-left: 20px;
}

#Portfolio .cnt .name .part:last-child {
   margin-top: 100px;
}

#Portfolio .cnt .name .btn_area {
   overflow: hidden;
}

#Portfolio .cnt .name .btn_area p {
   letter-spacing: 4px;
   opacity: 0.25;
   cursor: pointer;
}

#Portfolio .cnt .name .btn_area p.active {
   opacity: 1;
}

#Portfolio .cnt .name .btn_area p.prev {
   float: left;
}

#Portfolio .cnt .name .btn_area p.next {
   float: right;
   margin-right: 50px;
}

/************************name************************/
#Portfolio .cnt .pc_wrap {
   position: absolute;
   left: 40%;
   top: 0;
   bottom: 0;
   width: 60%;
}

#Portfolio .cnt .pc_wrap .pc {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 90%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

#Portfolio .cnt .pc_wrap .pc img.pc_frm {
   display: block;
   width: 100%;
}

#Portfolio .cnt .pc_wrap .pc img.mobile_frm {
   display: none;
   margin: auto;
   max-width: 70%;
}

#Portfolio .cnt .pc_wrap .pc .pc_screen {
   overflow-y: scroll;
   position: absolute;
   top: 5.2%;
   bottom: 31.1%;
   left: 4%;
   right: 4%;
}

#Portfolio .cnt .pc_wrap .pc .pc_screen a {
   display: block;
   width: 100%;
}

#Portfolio .cnt .pc_wrap .pc .pc_screen a img {
   display: block;
   width: 100%;
   height: 100%;
}

#Portfolio .cnt .pc_wrap .pc .pc_screen a img.pf_view_W {
   display: block;
}

#Portfolio .cnt .pc_wrap .pc .pc_screen a img.pf_view_M {
   display: none;
}

/************************#Contact************************/
#container section#Contact .cnt {
   margin: 120px auto;
}

#container section#Contact .cnt .item {
   float: left;
   width: 40%;
   margin-left: 5%;
}

#container section#Contact .cnt .item .pic {
   width: 200px;
   margin: 0 auto;
}

#container section#Contact .cnt .item .pic img {
   max-width: 100%;
   border-radius: 50%;
}

#container section#Contact .cnt .item:nth-of-type(2) {
   float: left;
   width: 40%;
   margin-left: 10%;
}

#container section .cnt form div {
   margin-top: 20px;
   text-align: right;
}

#container section .cnt form [type="submit"] {
   border: 1px dashed #333;
   padding: 10px 20px;
}

#container section .cnt form [type="submit"]:hover {
   color: #fff;
   border-color: #333;
   background-color: #747474;
}

#container section .cnt form dl dt {
   margin-top: 30px;
   letter-spacing: 4px;
   font-weight: 700;
}

#container section .cnt form dl dd {
   position: relative;
   display: block;
   margin-top: 30px;
   border-bottom: 1px solid #999;
}

#container section .cnt form dl dd input {
   width: 100%;
}

#container section .cnt form dl dd textarea {
   height: 100px;
   width: 100%;
}

#container section .cnt form dl dd i {
   position: absolute;
   bottom: 10px;
   right: 18px;
   width: 30px;
   height: 30px;
   background-size: 100%;
   -webkit-background-size: 100%;
   background-image: url('../img/icon_send.png');
}

#container section .cnt .profile {
   padding-top: 20px;
}

#container section .cnt .profile p {
   text-align: center;
   line-height: 1.8;
   font-size: 1em;
   letter-spacing: 2px;
}

#container section .cnt .profile p+p {
   margin-top: 35px;
}

#container section .cnt .profile p.name {
   font-size: 1.6em;
}


/************************ #main ************************/
/************************ pg_1 ************************/
section#Main>div:first-of-type {
   overflow: hidden;
}

.pg_1 {
   position: relative;
   float: left;
   width: 300px;
   margin: 70px 0 0 300px;
   padding: 0 15px;
   border: 1px solid #222;
   background-color: #fff;
   z-index: 2;
}

.pg_1 .txt {
   padding-top: 30px;
}

.pg_1 .txt h2 {
   text-align: center;
   font-size: 2em;
   font-weight: 500;
   font-family: 'Noto Sans KR', sans-serif;
   letter-spacing: 4px;
}

.pg_1 .txt p {
   text-align: center;
   font-size: 2em;
   font-weight: 700;
   font-family: 'Noto Sans KR', sans-serif;
   letter-spacing: 4px;
}

.pg_1 .txt p.line {
   width: 60px;
   height: 2px;
   margin: 20px auto 0;
   background-color: #000;
}

.pg_1 .txt p.tit_2 {
   margin-top: 20px;
}

.pg_1 .txt p.job {
   margin-top: 10px;
   font-size: 1em;
}

.pg_1 .first,
.pg_1 .second,
.pg_1 .third,
.pg_1 .fourth {
   position: absolute;
   width: 14px;
   height: 14px;
   border: 1px solid #434462;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   background-color: #fff;
}

.pg_1 .first {
   bottom: -7px;
   right: -7px;
}

.pg_1 .second {
   bottom: -7px;
   left: -7px;
}

.pg_1 .third {
   top: -7px;
   right: -7px;
}

.pg_1 .fourth {
   top: -7px;
   left: -7px;
}

.pg_1 i {
   display: block;
}

.pg_1 i img {
   display: block;
   width: 60px;
   height: 10px;
   margin: 30px auto;
}

.pg_1 .txt_detail {
   padding-bottom: 30px;
}

.pg_1 .txt_detail p {
   text-align: center;
   line-height: 1.8;
   font-size: 0.875rem;
   font-family: 'Noto Sans KR', sans-serif;
   letter-spacing: .5px;
   word-wrap: break-word;
}

.pg_1 .txt_detail p a {
   border-bottom: 1px solid #222;
}

/************************long_line************************/
.long_line {
   position: absolute;
   top: 380px;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: #000;
}

.long_line span {
   position: absolute;
   top: 0;
   left: 0;
   /*margin: -40px 50px 0 0;*/
   margin: -40px 0 0 30px;
   padding-left: 30px;
   text-align: right;
   font-size: 1.2em;
}

.long_line span:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   background-image: url('../img/icon_tree.png');
   -webkit-background-size: 100%;
   background-size: 100%;
}

/************************footer************************/
footer {
   height: 60px;
   line-height: 60px;
   background-color: #ddd;
}

footer p {
   text-align: center;
   font-size: 0.8em;
}


/************************top icon************************/
#top{
    position: relative;
    z-index: 99;
}
#top span{
    position: fixed;
    bottom: 80px;
    right: -100px;
    transition: right 0.5s;
}
#top img{
   width: 50px;
   height: 50px;
    cursor: pointer;
}
#top span.active{
    right: 33px;
}

.theme{
   float: right;
}
.theme span{
   line-height: 40px;
   font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (max-width: 1800px) {

   .history .career dt,
   .history .skill dt {
      width: 100%;
   }

   .history .career dd,
   .history .skill dd {
      width: 100%;
   }
}

@media screen and (max-width: 1300px) {
   .history {
      width: calc(100% - 660px);
      margin-top: 10px;
      padding: 50px 0 0 50px;
   }

   .history .career {
      float: none;
      width: 100%;
   }

   .history .skill {
      float: none;
      width: 100%;
      margin-top: 50px;
      margin-left: 0;
   }

   .history .subTitle {
      cursor: pointer;
   }

   #Portfolio .cnt ul li {
      width: 30%;
   }

   #Portfolio .cnt ul li .info .title {
      font-size: 1rem;
   }

   #Portfolio .tabWrap li {
      margin: 0 10px 15px;
      padding: 6px 15px;
      font-size: 1rem;
   }

   .pg_1 {
      margin-left: 250px;
   }
}

@media screen and (max-width:1000px) {
   .pg_1 {
      float: none;
      margin: 20px auto;
   }

   .history {
      float: none;
      width: 100%;
      padding-left: 0;
      text-align: center;
   }
}

/************************ media_query ************************/
@media screen and (max-width:1280px) {

   /* pc */
   .pg_1 {
      /*margin: 180px auto;*/
   }

   #Skills .cnt .graph_txt {
      margin-top: 0;
   }

   #Skills .cnt .graph_txt dl dt {
      font-size: 0.8em;
   }

   #Skills .cnt .graph_txt dl dd {
      font-size: 0.8em;
   }

   #Skills .cnt .skills img {
      width: 380px;
   }

   #Portfolio .cnt .name .part .top span {
      font-size: 1.4em;
   }

   #Portfolio .cnt .name .part .top em {
      font-size: 0.9rem;
   }
}

@media screen and (max-width:1024px) {

   /* pc_small */
   .long_line span {
      margin-left: 20px;
   }

   #container section .cnt {
      margin: 80px auto;
   }

   #container section .tit_wrap .tit_inner .tit_area h2 {
      font-size: 2rem;
      line-height: 1.6;
   }

   #Skills .cnt .graph_txt {
      margin-top: 0;
      padding-top: 70px;
   }

   #Skills .cnt .graph_txt dl dt {
      width: 100%;
      font-size: 0.6em;
   }

   #Skills .cnt .graph_txt dl dd {
      font-size: 0.7em;
   }

   #Skills .cnt .graph_txt dl+dl {
      margin-top: 10px;
   }

   #Skills .cnt .skills img {
      width: 310px;
   }

   #container section .tit_wrap .tit_inner .tit_area p.small_tit {
      font-size: 1em;
   }

   #History .cnt ul li .history_txt p {
      line-height: 20px;
      font-size: 0.9em;
   }

   #container section#Portfolio .cnt {
      padding: 40px 0;
   }

   #container section#Contact {
      padding: 100px 0;
   }

   #container section#Contact .cnt {
      margin: 30px auto;
   }

   #Portfolio .cnt .name .part .top span {
      font-size: 1.2em;
   }

   #Portfolio .cnt .name .part .top em {
      font-size: 0.9rem;
   }

   #Portfolio .cnt .pc_wrap {
      position: static;
      width: 100%;
   }

   #Portfolio .cnt .pc_wrap .pc {
      position: static;
      width: 100%;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
   }

   #Portfolio .cnt .name {
      float: none;
      width: 100%;
      margin-top: 50px;
   }
}

@media screen and (max-width:768px) {

   /* tablet */
   #header .nav ul li a {
      height: 34px;
      line-height: 34px;
      font-size: 1.1em;
   }

   .long_line span {
      display: none;
   }

   #container section .cnt {
      margin: 50px auto;
   }

   #container section .tit_wrap .tit_inner .tit_area p.small_tit {
      font-size: 0.9em;
   }

   #container section .tit_wrap:before {
      left: 20px;
      right: 20px;
   }

   #container section .tit_wrap .tit_inner:before {
      left: 20px;
      top: 26px;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
   }

   #container section .tit_wrap .tit_inner:after {
      right: 20px;
      top: 26px;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
   }

   #container .cnt .skills {
      float: none;
      width: 90%;
   }

   #container .cnt .graph_txt {
      float: none;
      width: 100%;
   }

   #Skills .cnt .graph_txt {
      margin-top: 0;
      padding-top: 20px;
   }

   #Skills .cnt .graph_txt dl {
      margin: 0 10%;
   }

   #Skills .cnt .graph_txt dl dt {
      width: 28%;
      font-size: 0.7em;
      margin-top: 1px;
      margin-left: 14%;
   }

   #Skills .cnt .graph_txt dl dd {
      width: 58%;
      margin-top: 0;
      margin-left: 0;
      font-size: 0.7em;
   }

   #Skills .cnt .skills img {
      width: 100%;
   }

   #History .cnt ul {
      margin-left: 20%;
      margin-bottom: 40px;
   }

   #History .cnt ul li {
      left: -5px;
      width: 12px;
      height: 12px;
      background-color: #fff;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      border: 1px solid #000;
   }

   #History .cnt ul li:nth-of-type(odd) .history_txt {
      left: 100%;
      padding-left: 20px;
      text-align: left;
   }

   #Portfolio .cnt ul li {
      width: 46%;
   }

   #Portfolio .cnt ul li .info .title {
      font-size: 0.875rem;
   }
}

@media screen and (max-width:576px) {

   /* mobile */
   #header .nav ul li a {
      height: 30px;
      line-height: 30px;
      font-size: 1em;
   }

   .pg_1 {
      width: 240px;
      margin: 40px auto;
   }

   .pg_1 .txt p {
      font-size: 1.4em;
   }

   .long_line {
      display: none;
   }

   #Skills .cnt .graph_txt {
      margin-top: 20px;
   }

   #Skills .cnt .graph_txt dl dt {
      margin-top: -1px;
      padding-left: 0;
      font-size: 0.6em;
   }

   #Skills .cnt .graph_txt dl dd {
      margin-top: 0;
      font-size: 0.6em;
   }

   #Portfolio .cnt ul li {
      width: 100%;
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 60px;
   }

   #Portfolio .cnt ul li .info .title {
      font-size: 0.875rem;
   }

   #Portfolio .cnt .pc_wrap .pc img.pc_frm {
      display: none;
   }

   #Portfolio .cnt .pc_wrap .pc img.mobile_frm {
      display: block;
      margin: auto;
      max-width: 70%;
   }

   #Portfolio .cnt .pc_wrap .pc .pc_screen {
      overflow-y: scroll;
      position: absolute;
      top: 11.7%;
      bottom: 11.8%;
      left: 18.2%;
      right: 18.6%;
   }

   #Portfolio .cnt .pc_wrap .pc .pc_screen a img.pf_view_W {
      display: none;
   }

   #Portfolio .cnt .pc_wrap .pc .pc_screen a img.pf_view_M {
      display: block;
   }

   #container section .tit_wrap {
      margin-top: 0;
   }

   #container section .tit_wrap .tit_inner .tit_area h2 {
      font-size: 2rem;
   }

   #container section .tit_wrap .tit_inner .tit_area p.small_tit {
      font-size: 0.8em;
   }

   #container section .tit_wrap .tit_inner .tit_area {
      width: 100%;
      margin-top: 0;
      padding: 0;
   }

   #container section .tit_wrap:before,
   #container section .tit_wrap .tit_inner:before,
   #container section .tit_wrap .tit_inner:after {
      display: none;
   }

   #container section .cnt {
      margin: 0 auto;
   }

   #container section .cnt .profile {
      padding-top: 0;
   }

   #container section .cnt .profile p {
      font-size: 0.8em;
   }

   #container section .cnt .profile p.name {
      font-size: 1.2em;
   }

   #container section .cnt .profile p+p {
      margin-top: 14px;
   }

   .pg_1 .txt_detail p {
      font-size: 0.9em;
   }

   #container section#Contact .cnt {
      margin: 10px auto 50px;
   }

   #container section#Contact .cnt .item {
      float: none;
      width: 100%;
      margin-left: 0;
   }

   #container section#Contact .cnt .item:nth-of-type(2) {
      float: none;
      width: 100%;
      margin-left: 0;
      margin-top: 80px;
   }
}

@media screen and (max-width:413px) {
   #header .nav ul li a {
      height: 30px;
      line-height: 30px;
      font-size: 0.9em;
   }

   #Skills .cnt .graph_txt {
      text-align: center;
   }

   #Skills .cnt .graph_txt dl dt {
      width: 100%;
      margin-left: 0;
   }

   #Skills .cnt .graph_txt dl dd {
      width: 100%;
   }

   .history .career {
      padding: 0 15px;
   }
}

.show {
   display: block;
}

.hide {
   display: none;
}

#Portfolio .cnt ul li.hide {
   display: none;
}


.typed-cursor {
   opacity: 1;
}

.typed-cursor.typed-cursor--blink {
   animation: typedjsBlink 0.7s infinite;
   -webkit-animation: typedjsBlink 0.7s infinite;
   animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
   50% {
      opacity: 0;
   }
}

@-webkit-keyframes typedjsBlink {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}